# Humanitec Organization ID
humanitec_org_id="YOURVALUE"
# Universal prefix for all objects to create
object_prefix="cloudrun-guide-"
# Your Google Cloud project ID
gcp_project_id="YOURVALUE"
# Google Cloud region to use for resources, e.g. 'europe-west3'
gcp_region="YOURVALUE"
# Name of the Orchestrator secret store registration for Google Secret Manager
gsm_secret_store_name="YOURVALUE"
# Name of the GCP service account to be used for deploying into GCP, e.g. 'my-account'
# On GKE with Workload Identity, this is the service account associated with the Container Runner
gcp_deployer_service_account_name="YOURVALUE"
# Kubernetes namespace of the container runner
k8s_container_runner_namespace="humanitec-runner"
# Kubernetes service account for the container runner Jobs
k8s_container_runner_service_account="humanitec-runner"
# ID of the Resource Definition of type `k8s-cluster` that defines the runner cluster to use
k8s-runner-cluster-resource-definition-id="YOURVALUE"
# ID of the Resource Definition of type `agent` that defines the Humanitec Agent to use. Leave empty if not using an Agent"
agent-resource-definition-id="YOURVALUE"
# Whether to use a service account key to access Google Cloud from the runner
# Set to false (default) to use GKE Workload Identity
# Setting to true creates a service account key and stores it in the local state
# Protect the state file and destroy the setup when done
gcp_use_service_account_key=false